.oneNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.twoNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.threeNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.fourNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.fiveNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.sixNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.sevenNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.eightNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.nineNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.zeroNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.plusNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}

.minusNormal{
	float: left;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 10px;
	background-color: red;
}